@page "/Tienda/PedidoRealizadoOK"
@inject IStorageService storageService
@inject IRestService restService

<div class="container">
    <div class="row">
        <h3>El pedido se ha realizado correctamente. En su apartado de perfil puede comprobar el pedido realizado</h3>
    </div>
</div>


@code {
   

}
