@page "/Cliente/ListaDeseos"

@using ProyectoTFG.Client.Models

@inject IStorageService storageService
@inject NavigationManager navigate

@if (String.IsNullOrEmpty(ClienteActual.Nombre))
{
    this.navigate.NavigateTo("/Cliente/Login");
}
else
{
    @if (listaDeseos.Count == 0)
    {
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h2 class="text-black mt-5">No hay ningún producto en la lista de deseos</h2>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <div class="row">
                @foreach (ProductoAPI p in listaDeseos)
                {
                    <div class="col-sm-3"><MiniProducto ProductoActual="@p" /></div>
                }
            </div>
        </div>
    }
}

@code {
    public Cliente ClienteActual { get; set; } = new Cliente();
    public List<ProductoAPI> listaDeseos { get; set; } = new List<ProductoAPI>();

    protected override void OnInitialized()
    {
        this.ClienteActual = this.storageService.RecuperarDatosCliente();
        this.listaDeseos = this.storageService.RecuperarListaDeseos();

        
    }

}
